policy_module(nmutils, 0.1.0)

require {
	class chr_file { read getattr open };
	class capability2 { block_suspend };
	type random_device_t;
	type dhcpc_t;
	type NetworkManager_etc_t;
	type NetworkManager_initrc_exec_t;
};

# Required for 08-ipv6-prefix to spawn dhclient as a child of NetworkManager
networkmanager_initrc_domtrans(dhcpc_t);
networkmanager_read_conf(dhcpc_t);
search_dirs_pattern(dhcpc_t, NetworkManager_etc_t, NetworkManager_initrc_exec_t);

# Required for 08-ipv6-prefix to use ddns-functions and manage radvd
# is a child of dhclient.

# manage radvd
radvd_admin(dhcpc_t, system_r);

# for nsupdate
allow dhcpc_t random_device_t:chr_file { read getattr open };

# for dig
allow dhcpc_t self:capability2 block_suspend;

