#
# ddns-onboot.service
#
# systemd service to trigger ddns-onboot
# 
[Unit]
Description=Set addresses in Bind from interface %I
After=nss-lookup.target

[Service]
Type=oneshot
ExecStart=/etc/NetworkManager/dispatcher.d/09-ddns %I

[Install]
WantedBy=multi-user.target
